* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: blue;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#main {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    gap: 50px;
    flex-grow: 1;
}
#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    gap: 0;
    border: 20px solid black;
}

.vertical, .horizontal {
    border: 1px solid white;
}
.vertical {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.horizontal {
    height: 100%;
    width: 100%;
}

#sidepanel {
    border: 5px solid white;
    width: 200px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    margin: 20px;
}

#sizer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#sizerinput {
    text-align: center;
    font-size: 25px;
    width: 30%;
}

#sizerinput, p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#rainbowdiv, #progressivediv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

p {
    color: white;
}

#sidepanel > p {
    font-size: 35px;
}